.friend-data-form-wrapper {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.friend-data-form-text-fields {
  width: 100%;
  display: flex;
  gap: 8px;
}

.buttons {
  width: 80%;
  height: 50px;
  display: flex;
  gap: 8px;
}


.switch-wrapper .MuiFormControlLabel-label {
  font-size: clamp(12px, 2vw, 20px) !important;
  display: flex;
  align-items: center;
  text-align: center;
}


.friend-data-form-text-fields{
  display: flex;
  flex-direction: column;
  gap: 24px;
}
